<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register here</h1>
    <form method="POST" action="{% url 'register' %}" style="display:flex; gap:20px;">
        {% csrf_token %}
        <label for="username" style="gap:0px;">Username</label>
        <input type="text" placeholder="username" name="username" id="username" >

        <label for="email" style="gap:0px;">Enter valid google Email ID</label>
        <input type="text" placeholder="email" name="email" id="email">

         <label for="username" style="gap:0px;">Password</label>
        <input type="text" placeholder="Password" name="Password" id="Password">

        <label for="send_otp">Verify email</label>
        <input type="checkbox" name="send_otp" id="send_otp" value="ON">
        <button type="submit">GET OTP </button>
        {{error}}
    </form>
    

{% if message %}       
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
            <label for="ootp">Enter 6 digits otp sent to your entered email address</label>
            <input type="number" placeholder="ootp" name="ootp" id="ootp" >
            <input type="hidden" placeholder="username" name="username" id="username" value="{{ range.0 }}">
            <input type="hidden" placeholder="email" name="email" id="email" value="{{ range.1 }}">
            <input type="hidden" placeholder="Password" name="Password" id="Password" value="{{ range.2 }}">
            <div>
                <label for="verify_otp">Verify OTP:</label>
                <input type="checkbox" name="verify_otp" id="verify_otp" value="ON">
            </div>
            <button type="submit">SUBMIT AND REGISTER</button>
            
     </form>
{% endif %}     
    
</body>
</html>